SLACK_BOT_TOKEN=YOUR_SLACK_BOT_TOKEN
SLACK_SIGNING_SECRET=YOUR_SLACK_SIGNING_SECRET
SLACK_APP_TOKEN=YOUR_SLACK_APP_TOKEN
OPENAI_API_KEY=YOUR_OPENAI_API_KEY
CONTEXT_FILE_PATH=YOUR_CONTEXT_FILE_PATH # File for you to provide more context to the bot

# DISABLE_SCHEMA_ENRICHMENT=true

# BigQuery
# BQ_KEY=path/to/key.json

# MySQL
# DB_CONNECTION=mysql://username:password@127.0.0.1:3306/dbname

# PgSQL
# DB_CONNECTION=postgresql://username:password@localhost:5432/dbname

# Optional, if you want to whitelist specific databases and tables
# DATABASES=sample_database1,sample_database2
# TABLES=sample_database1.sample_table1,sample_database1.sample_table2

# Optionals for SSH Tunnel
# Think about it will establish the ssh tunnel as below:
# ssh -L [SSH_TUNNEL_SOURCE_PORT]:[SSH_TUNNEL_DESTINATION_IP]:[SSH_TUNNEL_DESTINATION_PORT] [SSH_TUNNEL_USERNAME]@[SSH_TUNNEL_REMOTE_HOST_ADDRESS] -p [SSH_TUNNEL_REMOTE_HOST_PORT]
# SSH_TUNNEL_ENABLE=true
# SSH_TUNNEL_REMOTE_HOST_ADDRESS=localhost
# This is optional, default to 22
# SSH_TUNNEL_REMOTE_HOST_PORT=2222
# SSH_TUNNEL_USERNAME=username
# One of the following option must be provide for auth, currently we support password or private key
# SSH_TUNNEL_PASSWORD=password
# SSH_TUNNEL_PRIVATE_KEY="-----BEGIN OPENSSH PRIVATE KEY-----
#....
#....
#-----END OPENSSH PRIVATE KEY-----"
# SSH_TUNNEL_DESTINATION_IP=127.0.0.1
# SSH_TUNNEL_DESTINATION_PORT=5432
# SSH_TUNNEL_SOURCE_PORT=5432
